{% extends 'page.html' %}

{% block content %}
    <h1 class="text-center">Alterar Produto</h1>
    <br>
    <form enctype="multipart/form-data" action="submit/", method="POST">{% csrf_token %}
        <div class="container">
            <input type="number" class="form-control" name="Produto.id_produto" value="{{ produto.id_produto }}" hidden>
            <div class="form-group">
                <label>Nome produto:</label>
                <input type="text" class="form-control" name="nome_produto" value="{{ produto.nome_produto }}">
            </div>
            <div class="form-group">
                <label>Quantidade em estoque:</label>
                <input type="number"min=0 class="form-control" name="qtd_estoque" value="{{ produto.qtd_estoque }}">
            </div>   
            <div class="form-group">
                <label>Preço:</label>
                <input type="number"min=0 step="0.01" class="form-control" name="preco" value="{{ produto.preco }}">
            </div>
                <button type="submit/" class="btn btn-primary">Alterar</button>
        </div>
      </form>
      <br>
{% endblock %}